Ispinia MVC5/Inspinia_MVC5/Connected Services/LocalServiceWcf/UserService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/Core" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Core" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost/WCF/UserService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="USER">
    <xs:sequence>
      <xs:element minOccurs="0" name="EMAIL" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID_LANGUAGE" type="ser:guid" />
      <xs:element minOccurs="0" name="ID_PROFILE" type="ser:guid" />
      <xs:element minOccurs="0" name="ID_USER" type="ser:guid" />
      <xs:element minOccurs="0" name="IS_ENABLED" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="LANGUAGE" nillable="true" type="tns:LANGUAGE" />
      <xs:element minOccurs="0" name="MOBILE_PHONE_NUMBER" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PASSWORD" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PHONE_NUMBER" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PROFILE" nillable="true" type="tns:PROFILE" />
      <xs:element minOccurs="0" name="SERVIZIs" nillable="true" type="tns:ArrayOfSERVIZI" />
      <xs:element minOccurs="0" name="SURNAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TITLE" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="USER" nillable="true" type="tns:USER" />
  <xs:complexType name="LANGUAGE">
    <xs:sequence>
      <xs:element minOccurs="0" name="CODE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DESCRIPTION" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID_LANGUAGE" type="ser:guid" />
      <xs:element minOccurs="0" name="USERS" nillable="true" type="tns:ArrayOfUSER" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LANGUAGE" nillable="true" type="tns:LANGUAGE" />
  <xs:complexType name="ArrayOfUSER">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="USER" nillable="true" type="tns:USER" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUSER" nillable="true" type="tns:ArrayOfUSER" />
  <xs:complexType name="PROFILE">
    <xs:sequence>
      <xs:element minOccurs="0" name="CODE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DESCRIPTION" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID_PROFILE" type="ser:guid" />
      <xs:element minOccurs="0" name="MENUs" nillable="true" type="tns:ArrayOfMENU" />
      <xs:element minOccurs="0" name="USERS" nillable="true" type="tns:ArrayOfUSER" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PROFILE" nillable="true" type="tns:PROFILE" />
  <xs:complexType name="ArrayOfMENU">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="MENU" nillable="true" type="tns:MENU" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMENU" nillable="true" type="tns:ArrayOfMENU" />
  <xs:complexType name="MENU">
    <xs:sequence>
      <xs:element minOccurs="0" name="CODE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DESCRIPTION" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MENU_ID" type="ser:guid" />
      <xs:element minOccurs="0" name="MENU_ID_FATHER" nillable="true" type="ser:guid" />
      <xs:element minOccurs="0" name="PROFILEs" nillable="true" type="tns:ArrayOfPROFILE" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MENU" nillable="true" type="tns:MENU" />
  <xs:complexType name="ArrayOfPROFILE">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PROFILE" nillable="true" type="tns:PROFILE" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPROFILE" nillable="true" type="tns:ArrayOfPROFILE" />
  <xs:complexType name="ArrayOfSERVIZI">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SERVIZI" nillable="true" type="tns:SERVIZI" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSERVIZI" nillable="true" type="tns:ArrayOfSERVIZI" />
  <xs:complexType name="SERVIZI">
    <xs:sequence>
      <xs:element minOccurs="0" name="CODE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DATA_CREAZIONE" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DATA_MODIFICA" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DESCRIZIONE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ENDPOINT" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FIRMA" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GRUPPOes" nillable="true" type="tns:ArrayOfGRUPPO" />
      <xs:element minOccurs="0" name="ID_SERVIZIO" type="ser:guid" />
      <xs:element minOccurs="0" name="ID_USER" type="ser:guid" />
      <xs:element minOccurs="0" name="IS_ENABLED" type="xs:boolean" />
      <xs:element minOccurs="0" name="USER" nillable="true" type="tns:USER" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SERVIZI" nillable="true" type="tns:SERVIZI" />
  <xs:complexType name="ArrayOfGRUPPO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="GRUPPO" nillable="true" type="tns:GRUPPO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfGRUPPO" nillable="true" type="tns:ArrayOfGRUPPO" />
  <xs:complexType name="GRUPPO">
    <xs:sequence>
      <xs:element minOccurs="0" name="DESCRIZIONE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID_GRUPPO" type="ser:guid" />
      <xs:element minOccurs="0" name="SERVIZIs" nillable="true" type="tns:ArrayOfSERVIZI" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GRUPPO" nillable="true" type="tns:GRUPPO" />
  <xs:simpleType name="Utilities.Esito_Controlli">
    <xs:list>
      <xs:simpleType>
        <xs:restriction base="xs:string" />
      </xs:simpleType>
    </xs:list>
  </xs:simpleType>
  <xs:element name="Utilities.Esito_Controlli" nillable="true" type="tns:Utilities.Esito_Controlli" />
  <xs:complexType name="ArrayOfvServiceGroup">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="vServiceGroup" nillable="true" type="tns:vServiceGroup" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfvServiceGroup" nillable="true" type="tns:ArrayOfvServiceGroup" />
  <xs:complexType name="vServiceGroup">
    <xs:sequence>
      <xs:element minOccurs="0" name="CODE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ENDPOINT" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FIRMA" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GRUPPO_SERVIZIO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID_GRUPPO" type="ser:guid" />
      <xs:element minOccurs="0" name="ID_SERVIZIO" type="ser:guid" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="vServiceGroup" nillable="true" type="tns:vServiceGroup" />
  <xs:complexType name="ArrayOfLANGUAGE">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="LANGUAGE" nillable="true" type="tns:LANGUAGE" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfLANGUAGE" nillable="true" type="tns:ArrayOfLANGUAGE" />
</xs:schema>