Ispinia MVC5/Inspinia_MVC5/Connected Services/UserService/UserService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="UserService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost/WcfServiceLocal/UserService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost/WcfServiceLocal/UserService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost/WcfServiceLocal/UserService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Core.CustomClasses" />
      <xsd:import schemaLocation="http://localhost/WcfServiceLocal/UserService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Core" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IUserService_GetUser_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUser" />
  </wsdl:message>
  <wsdl:message name="IUserService_GetUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUserResponse" />
  </wsdl:message>
  <wsdl:message name="IUserService_GetUserById_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUserById" />
  </wsdl:message>
  <wsdl:message name="IUserService_GetUserById_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUserByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IUserService_GetUsersByProfiles_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUsersByProfiles" />
  </wsdl:message>
  <wsdl:message name="IUserService_GetUsersByProfiles_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUsersByProfilesResponse" />
  </wsdl:message>
  <wsdl:message name="IUserService_GetUsersByLanguage_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUsersByLanguage" />
  </wsdl:message>
  <wsdl:message name="IUserService_GetUsersByLanguage_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUsersByLanguageResponse" />
  </wsdl:message>
  <wsdl:message name="IUserService_UpdateUser_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateUser" />
  </wsdl:message>
  <wsdl:message name="IUserService_UpdateUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateUserResponse" />
  </wsdl:message>
  <wsdl:message name="IUserService_EnableUser_InputMessage">
    <wsdl:part name="parameters" element="tns:EnableUser" />
  </wsdl:message>
  <wsdl:message name="IUserService_EnableUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:EnableUserResponse" />
  </wsdl:message>
  <wsdl:message name="IUserService_GetUsers_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUsers" />
  </wsdl:message>
  <wsdl:message name="IUserService_GetUsers_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUsersResponse" />
  </wsdl:message>
  <wsdl:message name="IUserService_AddUsers_InputMessage">
    <wsdl:part name="parameters" element="tns:AddUsers" />
  </wsdl:message>
  <wsdl:message name="IUserService_AddUsers_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddUsersResponse" />
  </wsdl:message>
  <wsdl:message name="IUserService_GetProfiles_InputMessage">
    <wsdl:part name="parameters" element="tns:GetProfiles" />
  </wsdl:message>
  <wsdl:message name="IUserService_GetProfiles_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetProfilesResponse" />
  </wsdl:message>
  <wsdl:message name="IUserService_AddProfile_InputMessage">
    <wsdl:part name="parameters" element="tns:AddProfile" />
  </wsdl:message>
  <wsdl:message name="IUserService_AddProfile_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddProfileResponse" />
  </wsdl:message>
  <wsdl:message name="IUserService_UpdateProfile_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateProfile" />
  </wsdl:message>
  <wsdl:message name="IUserService_UpdateProfile_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateProfileResponse" />
  </wsdl:message>
  <wsdl:message name="IUserService_GetProfileById_InputMessage">
    <wsdl:part name="parameters" element="tns:GetProfileById" />
  </wsdl:message>
  <wsdl:message name="IUserService_GetProfileById_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetProfileByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IUserService_GetProfilesByUserId_InputMessage">
    <wsdl:part name="parameters" element="tns:GetProfilesByUserId" />
  </wsdl:message>
  <wsdl:message name="IUserService_GetProfilesByUserId_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetProfilesByUserIdResponse" />
  </wsdl:message>
  <wsdl:message name="IUserService_checkLogin_InputMessage">
    <wsdl:part name="parameters" element="tns:checkLogin" />
  </wsdl:message>
  <wsdl:message name="IUserService_checkLogin_OutputMessage">
    <wsdl:part name="parameters" element="tns:checkLoginResponse" />
  </wsdl:message>
  <wsdl:message name="IUserService_GetServiceGroups_InputMessage">
    <wsdl:part name="parameters" element="tns:GetServiceGroups" />
  </wsdl:message>
  <wsdl:message name="IUserService_GetServiceGroups_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetServiceGroupsResponse" />
  </wsdl:message>
  <wsdl:message name="IUserService_GetLanguages_InputMessage">
    <wsdl:part name="parameters" element="tns:GetLanguages" />
  </wsdl:message>
  <wsdl:message name="IUserService_GetLanguages_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetLanguagesResponse" />
  </wsdl:message>
  <wsdl:message name="IUserService_GetLanguagebyId_InputMessage">
    <wsdl:part name="parameters" element="tns:GetLanguagebyId" />
  </wsdl:message>
  <wsdl:message name="IUserService_GetLanguagebyId_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetLanguagebyIdResponse" />
  </wsdl:message>
  <wsdl:message name="IUserService_GetLanguagebyIdUser_InputMessage">
    <wsdl:part name="parameters" element="tns:GetLanguagebyIdUser" />
  </wsdl:message>
  <wsdl:message name="IUserService_GetLanguagebyIdUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetLanguagebyIdUserResponse" />
  </wsdl:message>
  <wsdl:portType name="IUserService">
    <wsdl:operation name="GetUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserService/GetUser" message="tns:IUserService_GetUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserService/GetUserResponse" message="tns:IUserService_GetUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUserById">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserService/GetUserById" message="tns:IUserService_GetUserById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserService/GetUserByIdResponse" message="tns:IUserService_GetUserById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUsersByProfiles">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserService/GetUsersByProfiles" message="tns:IUserService_GetUsersByProfiles_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserService/GetUsersByProfilesResponse" message="tns:IUserService_GetUsersByProfiles_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUsersByLanguage">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserService/GetUsersByLanguage" message="tns:IUserService_GetUsersByLanguage_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserService/GetUsersByLanguageResponse" message="tns:IUserService_GetUsersByLanguage_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserService/UpdateUser" message="tns:IUserService_UpdateUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserService/UpdateUserResponse" message="tns:IUserService_UpdateUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EnableUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserService/EnableUser" message="tns:IUserService_EnableUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserService/EnableUserResponse" message="tns:IUserService_EnableUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUsers">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserService/GetUsers" message="tns:IUserService_GetUsers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserService/GetUsersResponse" message="tns:IUserService_GetUsers_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddUsers">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserService/AddUsers" message="tns:IUserService_AddUsers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserService/AddUsersResponse" message="tns:IUserService_AddUsers_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetProfiles">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserService/GetProfiles" message="tns:IUserService_GetProfiles_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserService/GetProfilesResponse" message="tns:IUserService_GetProfiles_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddProfile">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserService/AddProfile" message="tns:IUserService_AddProfile_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserService/AddProfileResponse" message="tns:IUserService_AddProfile_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateProfile">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserService/UpdateProfile" message="tns:IUserService_UpdateProfile_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserService/UpdateProfileResponse" message="tns:IUserService_UpdateProfile_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetProfileById">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserService/GetProfileById" message="tns:IUserService_GetProfileById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserService/GetProfileByIdResponse" message="tns:IUserService_GetProfileById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetProfilesByUserId">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserService/GetProfilesByUserId" message="tns:IUserService_GetProfilesByUserId_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserService/GetProfilesByUserIdResponse" message="tns:IUserService_GetProfilesByUserId_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="checkLogin">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserService/checkLogin" message="tns:IUserService_checkLogin_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserService/checkLoginResponse" message="tns:IUserService_checkLogin_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetServiceGroups">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserService/GetServiceGroups" message="tns:IUserService_GetServiceGroups_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserService/GetServiceGroupsResponse" message="tns:IUserService_GetServiceGroups_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetLanguages">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserService/GetLanguages" message="tns:IUserService_GetLanguages_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserService/GetLanguagesResponse" message="tns:IUserService_GetLanguages_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetLanguagebyId">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserService/GetLanguagebyId" message="tns:IUserService_GetLanguagebyId_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserService/GetLanguagebyIdResponse" message="tns:IUserService_GetLanguagebyId_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetLanguagebyIdUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserService/GetLanguagebyIdUser" message="tns:IUserService_GetLanguagebyIdUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserService/GetLanguagebyIdUserResponse" message="tns:IUserService_GetLanguagebyIdUser_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IUserService" type="tns:IUserService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetUser">
      <soap:operation soapAction="http://tempuri.org/IUserService/GetUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserById">
      <soap:operation soapAction="http://tempuri.org/IUserService/GetUserById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUsersByProfiles">
      <soap:operation soapAction="http://tempuri.org/IUserService/GetUsersByProfiles" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUsersByLanguage">
      <soap:operation soapAction="http://tempuri.org/IUserService/GetUsersByLanguage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateUser">
      <soap:operation soapAction="http://tempuri.org/IUserService/UpdateUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EnableUser">
      <soap:operation soapAction="http://tempuri.org/IUserService/EnableUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUsers">
      <soap:operation soapAction="http://tempuri.org/IUserService/GetUsers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddUsers">
      <soap:operation soapAction="http://tempuri.org/IUserService/AddUsers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProfiles">
      <soap:operation soapAction="http://tempuri.org/IUserService/GetProfiles" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddProfile">
      <soap:operation soapAction="http://tempuri.org/IUserService/AddProfile" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateProfile">
      <soap:operation soapAction="http://tempuri.org/IUserService/UpdateProfile" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProfileById">
      <soap:operation soapAction="http://tempuri.org/IUserService/GetProfileById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProfilesByUserId">
      <soap:operation soapAction="http://tempuri.org/IUserService/GetProfilesByUserId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="checkLogin">
      <soap:operation soapAction="http://tempuri.org/IUserService/checkLogin" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetServiceGroups">
      <soap:operation soapAction="http://tempuri.org/IUserService/GetServiceGroups" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLanguages">
      <soap:operation soapAction="http://tempuri.org/IUserService/GetLanguages" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLanguagebyId">
      <soap:operation soapAction="http://tempuri.org/IUserService/GetLanguagebyId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLanguagebyIdUser">
      <soap:operation soapAction="http://tempuri.org/IUserService/GetLanguagebyIdUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="UserService">
    <wsdl:port name="BasicHttpBinding_IUserService" binding="tns:BasicHttpBinding_IUserService">
      <soap:address location="http://localhost/WcfServiceLocal/UserService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>